body {
  background-color: #2B2B2A;
}

a {
  text-decoration: none !important;
}

#bio-info {
  font-family: 'Palatino';
  font-size: 3.3rem;
  font-weight: 100;
  color: #FFFFFF;
  overflow: visible;
  padding: 90px 0 0 345px;
  position:inherit;
  transform: rotate(-2deg);
  z-index: 101;
}

#body-background {
  max-width: 1400px;
}

#header-container {
  position: relative;
  /* width: 100%; */
}

#headshot {
  clip-path: polygon(24% 6%, 100% 0, 100% 78%, 6% 93%, 0 84%, 0 34%);
  height:270px;
  margin: 30px 0 0 0;
  position: absolute;
  z-index: 99;
}

#name-banner-container {
  background-color: #32748E;
  clip-path: polygon(0 15%, 100% 0, 100% 65%, 0 100%);
  display: flex;
  height: 200px;
  margin: 20px 0 0 0;
  max-width: 2000px;
}

#name-title {
  color: #14100E;
  font-family: 'Palatino';
  font-size: 4.5rem;
  padding: 40px 0 0 300px;
  position: absolute;
  transform: rotate(-2deg);
  z-index: 100;
}

#project-background-1 {
  height: 400px;
  padding: 0;
}

.project-image {
  width: 100%;
}

.project-image-container {
  padding: 0;
}

#project-image-1 {
  clip-path: polygon(0 0, 100% 0, 100% 83%, 83% 100%, 4% 88%);
}

#project-image-2 {
  clip-path: polygon(94% 0, 100% 18%, 91% 97%, 26% 100%, 0 90%, 0 0);
}

#project-image-3 {
  clip-path: polygon(28% 0, 100% 0, 100% 100%, 2% 96%, 0 11%, 13% 0);
}

#project-row-1 {
  margin: 0;
  padding: 0;
}

#project-row-2 {
  margin: 0;
  padding: 0;
  position: relative;
  top: -80px;
}

#project-row-3 {
  margin: 0;
  padding: 0;
  position: relative;
  top: -110px;
}

.project-paragraph-text {
  color: #FFFFFF;
  font-family: 'Palatino Linotype', serif;
  font-size: 1.75rem;
  padding: 0 10px;
}

#project-text-3 {
  padding: 20px 0 0 0;
}

.project-title {
  color: #32748E;
  font-family: 'Palatino';
  font-size: 2.5rem;
  padding: 0 10px;
}

#projects-section-container {
  position: relative;
  top: 365px;
}

.row {
  margin: 0;
}

.section-title {
  background-color: #32748E;
  clip-path: polygon(0 0, 100% 0, 98% 83%, 83% 100%, 4% 88%);
  color: #FFFFFF;
  display: inline-block;
  font-family: 'Palatino Linotype', serif;
  font-size: 4rem;
  text-align: center;
  width: 250px;
}

.section-title-container {
  text-align: center;
  padding: 0 0 10px 0;
  width: 100%;
}

#skills-image-desktop {
  right: 2%;
  padding: 0;
  position: absolute;
  top: 160px;
  visibility: hidden;
  z-index: 101;
}

#skills-image-mobile {
  height: 430px;
  padding: 0 10%;
  position: absolute;
  top: 70px;
  visibility: visible;
  width: 100%;
}

/* ------ EXTRA SMALL DEVICE MEDIA QUERY ------ */
@media (max-width: 575px) {
  #headshot {
    height: 120px;
    margin: 20px 0 0 0;
  }

  #name-banner-container {
    height: 80px;
  }

  #name-title {
    font-size: 1.75rem;
    padding: 0 0 0 140px;
    transform: rotate(-2.5deg);
  }

  #skills-image-desktop {
    display: none;
  }
}

/* ------ SMALL DEVICE MEDIA QUERY ------ */
@media (min-width: 576px) and (max-width: 767px) {
  #headshot {
    height: 135px;
    margin: 15px 0 0 0;
  }

  #name-title {
    font-size: 2rem;
    padding: 5px 0 0 160px;
    position: absolute;
    transform: rotate(-2deg);
  }

  #name-banner-container {
    height: 100px;
  }

  #projects-section-container {
    position: relative;
    top: 410px;
  }

  #skills-image-desktop {
    display: none;
  }

  #skills-image-mobile {
    height: 500px;
    padding: 0 18%;
  }
}

/* ------ MEDIUM DEVICE MEDIA QUERY ------ */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #headshot {
    margin: 26px 0 0 20px;
  }

  #name-title {
    margin: 50px 0 0 150px;
  }

  #name-banner-container {
    height: 300px;
  }

  #skills-image-desktop {
    height: 340px;
    visibility: visible;
    width: 70%;
  }

  #skills-image-mobile {
    display: none;
  }
}

/* ------ LARGE DEVICE MEDIA QUERY ------ */
@media (min-width: 992px) and (max-width: 1199px) {
  #headshot {
    margin: 26px 0 0 20px;
  }

  #name-title {
    /* font-size: 5rem; */
    /* margin: 60px 0 0 260px; */
  }

  #skills-image-desktop {
    height: 380px;
    visibility: visible;
    width: 60%;
  }

  #skills-image-mobile {
    display: none;
  }
}

/* ------ EXTRA LARGE DEVICE MEDIA QUERY ------ */
@media (min-width: 1200px) {
  #name-title {
    /* font-size: 6rem; */
    /* margin: 55px 0 0 270px; */
  }

  #skills-image-desktop {
    height: 440px;
    visibility: visible;
    width: 60%;
  }

  #skills-image-mobile {
    display: none;
  }

  /*#name-banner-container {
    margin-left: 15%;
  }*/
}

/* color palette:
blue: #32748E
white: #FFFFFF
gray1: #869193
gray2: #454449
gray3: #2B2B2A
black: #14100E
*/
