body {
  background-color: #191411;
  font-family: 'Nunito', sans-serif;
}

a {
  text-decoration: none !important;
}

#bio-info {
  background: linear-gradient(#2B2B2A, #222221);
  box-shadow: 0px 5px 15px #222221;
  color: #FFFFFF;
  font-size: 1.75rem;
  margin-top: 10px;
  padding: 1px 0;
  position: relative;
}

#body-background {
  /* margin: 0 auto; */
  max-width: 1400px;
}

#header-container {
  /* background-color: #2B2B2A; */
  /* background: linear-gradient(#2B2B2A, #222221); */
  /* box-shadow: 0px 0px 15px #222221; */
  height: 100%;
  position: relative;
}

.headline-text {
  color: #32748E;
  font-size: 2rem;
  font-weight: 500;
}

#headshot-desktop {
  display: none;
  height: 120px;
  margin: 20px 0 0 -35px;
  position: absolute;
  -webkit-clip-path: polygon(24% 6%, 100% 0, 100% 78%, 6% 93%, 0 84%, 0 34%);
  z-index: 99;
}

#headshot-mobile {
  height: 110px;
  margin: 15px 0 0 0;
  position: absolute;
  z-index: 99;
}

.list-items {
  font-family: 'Alegreya', serif;;
}

#name-banner-container {
  background: linear-gradient(#32748E, #285c71);
  /* clip-path: polygon(0 15%, 100% 0, 100% 65%, 0 100%); */
  height: 90px;
  margin: 20px 0 0 0;
  max-width: 2000px;
  position: relative;
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 65%, 0 100%);
  z-index: 98;
}

#name {
  color: #FFFFFF;
  font-size: 2rem;
  margin: 15px 0 0 105px;
  position: absolute;
  transform: rotate(-2.5deg);
  z-index: 100;
}

#occupation-title {
  color: #869193;
  font-size: 1.7rem;
  font-weight: 100;
  margin: 40px 0 0 106px;
  position: absolute;
  transform: rotate(-2.5deg);
  z-index: 101;
}

.project-image {
  padding: 0 10px;
  width: 100%;
}

.project-image-container {
  margin-top: 10px;
  padding: 0;
}

#project-image-1 {
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 83%, 83% 100%, 4% 88%);
  z-index: 103;
}

#project-image-2 {
  position: relative;
  -webkit-clip-path: polygon(94% 0, 100% 18%, 91% 97%, 26% 100%, 0 90%, 0 0);
  z-index: 101;
}

#project-image-3 {
  position: relative;
  -webkit-clip-path: polygon(16% 0, 100% 5%, 100% 37%, 94% 100%, 0 93%, 0 8%);
  z-index: 102;
}

#project-row-1 {
  background: linear-gradient(#2B2B2A, #222221);
  box-shadow: 0px 5px 15px #222221;
  margin: 0;
  padding: 0;
}

#project-row-2 {
  margin: 0;
  padding: 0;
  z-index: 100;
}

#project-row-3 {
  background: linear-gradient(#2B2B2A, #222221);
  box-shadow: 0px 5px 15px #222221;
  margin: 0;
  padding: 0;
}

.project-paragraph-text {
  color: #FFFFFF;
  font-size: 1.7rem;
  margin: 0 10px;
  padding: 5px 0;
}

.project-title {
  color: #32748E;
  /* display: inline-block; */
  font-size: 2rem;
  margin: 0 10px;
  padding: 15px 0 5px 0;
  /* text-align: center; */
}

#projects-section-container {
  /* position: relative; */
}

.row {
  margin: 0;
}

.section-title {
  background-color: #32748E;
  color: #FFFFFF;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: .1rem;
  margin: 10px 0;
  text-align: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 98% 83%, 83% 100%, 4% 99%);
  width: 175px;
}

.section-title-container {
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

#skills-image-desktop {
  /* right: 2%;
  padding: 0; */
  display: none;
  /* position: absolute; */
  /* top: 160px; */
  visibility: hidden;
}

#skills-image-mobile {
  height: 350px;
  left: 50%;
  margin: 10px 0 0 -140px;
  padding: 0;
  position: relative;
  visibility: visible;
}

/* ------ SMALL DEVICE MEDIA QUERY ------ */
@media (min-width: 576px) and (max-width: 767px) {
  #bio-info {
    font-size: 2.1rem;
    padding-top: 370px;
    position: relative;
  }

  #bio-title {
    font-size: 1.8rem;
    padding: 30px 0 0 175px;
  }

  #headshot {
    height: 135px;
    margin: 15px 0 0 0;
  }

  #name-title {
    font-size: 2.2rem;
    padding: 5px 0 0 160px;
    position: absolute;
    transform: rotate(-2deg);
  }

  #name-banner-container {
    height: 100px;
  }

  #project-image-1 {

  }

  .project-image-container {
    padding: 0 15px;
  }

  #project-row-1 {
    padding-top: 10px;
    position: relative;
    top: 0;
  }

  #project-row-2 {
    position: relative;
    top: 0;
  }

  #project-row-3 {
    position: relative;
    top: 0;
  }

  #project-text-1 {
    position: relative;
    z-index: 101;
  }

  #projects-section-container {
    position: relative;
    top: 85px;
  }

  .section-title {
    font-size: 3rem;
    padding: 0;
    width: 200px;
  }

  #skills-image-mobile {
    height: 510px;
    padding: 0 18%;
    top: 95px;
  }
}

/* ------ MEDIUM DEVICE MEDIA QUERY ------ */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #bio-info {
    font-size: 2.5rem;
    padding: 20px;
    top: 280px;
  }

  #headshot {
    -webkit-clip-path: polygon(24% 6%, 100% 0, 100% 78%, 6% 93%, 0 84%, 0 34%);
  }

  #name-title {
    margin: 50px 0 0 150px;
  }

  #name-banner-container {
    height: 300px;
  }

  #projects-section-container {
    top: 130px;
  }

  .section-title-container {
    padding: 0 0 10px 0;
  }

  #skills-image-desktop {
    display: inherit;
    height: 340px;
    padding: 0;
    position: absolute;
    right: 2%;
    top: 160px;
    visibility: visible;
    width: 70%;
    z-index: 101;
  }

  #skills-image-mobile {
    display: none;
    visibility: hidden;
  }
}

/* ------ LARGE DEVICE MEDIA QUERY ------ */
@media (min-width: 992px) and (max-width: 1199px) {
  #bio-info {
    font-size: 2.5rem;
    padding: 20px;
    top: 280px;
  }

  #projects-section-container {
    top: 260px;
  }

  .section-title-container {
    padding: 0 0 10px 0;
  }

  #skills-image-desktop {
    height: 380px;
    padding: 0;
    position: absolute;
    right: 2%;
    top: 160px;
    visibility: visible;
    width: 60%;
    z-index: 101;
  }

  #skills-image-mobile {
    display: none;
  }
}

/* ------ EXTRA LARGE DEVICE MEDIA QUERY ------ */
@media (min-width: 1200px) {
  #bio-info {
    font-size: 2.5rem;
    padding: 20px;
    top: 280px;
  }

  #name-title {
    /* font-size: 6rem; */
    /* margin: 55px 0 0 270px; */
  }

  .project-paragraph-text {
    font-size: 2.1rem;
  }

  .project-title {
    font-size: 3.3rem;
  }

  #projects-section-container {
    top: 350px;
  }

  .section-title-container {
    padding: 0 0 10px 0;
  }

  #skills-image-desktop {
    height: 470px;
    padding: 0;
    position: absolute;
    right: 2%;
    top: 160px;
    visibility: visible;
    width: 60%;
    z-index: 101;
  }

  #skills-image-mobile {
    display: none;
  }
}

/* color palette:
blue: #32748E
white: #FFFFFF
gray1: #869193
gray2: #454449
gray3: #2B2B2A
black1: #191411
black2: #14100E
*/

/* fonts:

*/
