body {
  background-color: #191411;
  font-family: 'Nunito', sans-serif;
  margin: 0 auto;
  max-width: 1400px;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
}

.bio-icon {
  height: 30px;
  margin: 5px 20px;
}

#bio-info {
  background: linear-gradient(#2B2B2A, #222221);
  box-shadow: 0px 5px 15px #222221;
  color: #FFFFFF;
  font-size: 1.75rem;
  margin-top: 10px;
  padding: 1px 0;
  position: relative;
}

#body-background {
  max-width: 1400px;
}

#footer-banner-container {
  background: linear-gradient(#32748E, #285c71);
  height: 90px;
  margin: -10px 0 0 0;
  max-width: 2000px;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 26%, 100% 100%, 0 56%);
  z-index: 98;
}

.footer-icon {
  height: 30px;
  margin: 10px;
  padding: 0;
}

#footer-icons-container {
  padding-top: 15px;
  transform: rotate(2.5deg);
}

.headline-text {
  color: #32748E;
  font-size: 2rem;
  font-weight: 500;
}

#headshot-desktop {
  display: none;
}

#headshot-mobile {
  height: 110px;
  margin: 15px 0 0 0;
  position: absolute;
  z-index: 99;
}

.icons-container {
  text-align: center;
}

.list-items {
  font-family: 'Alegreya', serif;
}

#name-banner-container {
  background: linear-gradient(#32748E, #285c71);
  height: 90px;
  margin: 20px 0 0 0;
  max-width: 2000px;
  position: relative;
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 65%, 0 100%);
  z-index: 98;
}

#name {
  color: #FFFFFF;
  font-size: 2rem;
  margin: 15px 0 0 105px;
  position: absolute;
  transform: rotate(-2.5deg);
  z-index: 100;
}

#occupation-title {
  color: #869193;
  font-size: 1.7rem;
  font-weight: 100;
  margin: 40px 0 0 106px;
  position: absolute;
  transform: rotate(-2.5deg);
  z-index: 101;
}

.project-image {
  padding: 0 10px;
  width: 100%;
}

.project-image-container {
  margin-top: 10px;
  padding: 0;
}

#project-image-1 {
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 83%, 83% 100%, 4% 88%);
  z-index: 103;
}

#project-image-2 {
  position: relative;
  -webkit-clip-path: polygon(94% 0, 100% 18%, 91% 97%, 26% 100%, 0 90%, 0 0);
  z-index: 101;
}

#project-image-3 {
  position: relative;
  -webkit-clip-path: polygon(16% 0, 100% 5%, 100% 37%, 94% 100%, 0 93%, 0 8%);
  z-index: 102;
}

#project-row-1 {
  background: linear-gradient(#2B2B2A, #222221);
  box-shadow: 0px 5px 15px #222221;
  margin: 0;
  padding: 0;
}

#project-row-2 {
  margin: 0;
  padding: 0;
}

#project-row-3 {
  background: linear-gradient(#2B2B2A, #222221);
  box-shadow: 0px 5px 15px #222221;
  margin: 0;
  padding: 1px 0 0 0;
}

.project-paragraph-text {
  color: #FFFFFF;
  font-size: 1.7rem;
  margin: 0 10px;
  padding: 5px 0;
}

.project-title {
  color: #32748E;
  font-size: 2rem;
  margin: 0 10px;
  padding: 15px 0 5px 0;
}

.row {
  margin: 0;
  padding: 0;
}

.section-title {
  background-color: #32748E;
  color: #FFFFFF;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: .1rem;
  margin: 10px 0;
  text-align: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 98% 83%, 83% 100%, 4% 99%);
  width: 175px;
}

.section-title-container {
  padding: 10px 0;
  text-align: center;
}

#skills-image-desktop {
  display: none;
  visibility: hidden;
}

#skills-image-mobile {
  height: 350px;
  left: 50%;
  margin: -20px 0 0 -140px;
  padding: 0;
  position: relative;
  visibility: visible;
}

/* ------ SMALL DEVICE MEDIA QUERY ------ */
@media (min-width: 576px) and (max-width: 767px) {
  .bio-icon {
    height: 40px;
  }

  #bio-info {
    font-size: 2rem;
    padding: 15px;
  }

  #headshot-mobile {
    height: 150px;
    margin: 5px 0 0 0;
  }

  #name {
    font-size: 2.75rem;
    padding: 10px 0 0 40px;
  }

  #name-banner-container {
    height: 125px;
  }

  #occupation-title {
    font-size: 2.25rem;
    margin: 55px 0 0 150px;
  }

  .project-image-container {
    padding: 0 15px;
  }

  .project-paragraph-text {
    font-size: 2rem;
  }

  .project-title {
    font-size: 2.35rem;
  }

  .section-title {
    font-size: 2.5rem;
    padding: 0;
    width: 200px;
  }

  #skills-image-mobile {
    height: 500px;
    margin-left: -200px;
  }
}

/* ------ MEDIUM DEVICE MEDIA QUERY ------ */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #bio-info {
    background: none;
    box-shadow: none;
    font-size: 2rem;
    margin: 25px 0 0 0;
    padding: 10px;
  }

  #headshot-desktop {
    display: inherit;
    height: 225px;
    margin: 25px 0 0 0;
    position: absolute;
    -webkit-clip-path: polygon(24% 6%, 100% 0, 100% 78%, 6% 93%, 0 84%, 0 34%);
    z-index: 104;
  }

  #headshot-mobile {
    display: none;
  }

  #name {
    font-size: 3.5rem;
    margin: 40px 0 0 250px;
  }

  #name-banner-container {
    height: 175px;
  }

  #occupation-title {
    font-size: 3rem;
    margin: 80px 0 0 245px;
  }

  .project-paragraph-text {
    font-size: 2rem;
  }

  #project-row-1 {
    padding: 0 30px;
  }

  #project-row-2 {
    padding: 0 30px;
  }

  #project-row-3 {
    padding: 0 30px;
  }

  .project-title {
    font-size: 2.4rem;
  }

  .section-title {
    font-size: 2.5rem;
    width: 200px;
  }

  .section-title-container {
    padding: 0 0 10px 0;
  }

  #skills-image-desktop {
    display: inherit;
    margin: 0;
    padding: 0;
    visibility: visible;
    width: 100%;
    z-index: 101;
  }

  #skills-image-mobile {
    display: none;
  }
}

/* ------ LARGE DEVICE MEDIA QUERY ------ */
@media (min-width: 992px) and (max-width: 1199px) {
  .bio-icon {
    height: 35px;
  }

  #bio-info {
    background: none;
    box-shadow: none;
    font-size: 2.5rem;
    padding: 20px;
  }

  #footer-banner-container {
    height: 125px;
  }

  .footer-icon {
    height: 35px;
  }

  #footer-icons-container {
    padding-top: 30px;
  }

  #headshot-desktop {
    display: inherit;
    height: 250px;
    margin: 20px 0 0 0;
    position: absolute;
    -webkit-clip-path: polygon(24% 6%, 100% 0, 100% 78%, 6% 93%, 0 84%, 0 34%);
    z-index: 104;
  }

  #headshot-mobile {
    display: none;
  }

  #name {
    font-size: 3.75rem;
    margin: 50px 0 0 275px;
  }

  #name-banner-container {
    height: 200px;
  }

  #occupation-title {
    font-size: 3.25rem;
    margin: 95px 0 0 270px;
  }

  .project-paragraph-text {
    font-size: 2.25rem;
  }

  .project-title {
    font-size: 2.75rem;
  }

  .section-title {
    font-size: 2.75rem;
    width: 225px;
  }

  .section-title-container {
    padding: 0 0 10px 0;
  }

  #skills-image-desktop {
    display: inherit;
    margin: -10px 0 0 0;
    padding: 0;
    visibility: visible;
    width: 100%;
    z-index: 101;
  }

  #skills-image-mobile {
    display: none;
  }
}

/* ------ EXTRA LARGE DEVICE MEDIA QUERY ------ */
@media (min-width: 1200px) {
  #bio-info {
    background: none;
    box-shadow: none;
    font-size: 2.5rem;
    padding: 10px;
  }

  #footer-banner-container {
    height: 125px;
  }

  .footer-icon {
    height: 35px;
  }

  #footer-icons-container {
    padding-top: 30px;
  }

  #headshot-desktop {
    display: inherit;
    height: 250px;
    margin: 20px 0 0 0;
    position: absolute;
    -webkit-clip-path: polygon(24% 6%, 100% 0, 100% 78%, 6% 93%, 0 84%, 0 34%);
    z-index: 104;
  }

  #headshot-mobile {
    display: none;
  }

  #name {
    font-size: 3.75rem;
    margin: 50px 0 0 275px;
  }

  #name-banner-container {
    height: 200px;
  }

  #occupation-title {
    font-size: 3.25rem;
    margin: 95px 0 0 270px;
  }

  .project-paragraph-text {
    font-size: 2.25rem;
  }

  .project-title {
    font-size: 2.75rem;
  }

  .section-title {
    font-size: 2.75rem;
    width: 225px;
  }

  .section-title-container {
    padding: 0 0 10px 0;
  }

  #skills-image-desktop {
    display: inherit;
    margin: -15px 0 0 0;
    padding: 0;
    visibility: visible;
    width: 100%;
    z-index: 101;
  }

  #skills-image-mobile {
    display: none;
  }
}

/* color palette:
blue: #32748E
white: #FFFFFF
gray1: #869193
gray2: #454449
gray3: #2B2B2A
black1: #191411
black2: #14100E
*/

/* fonts:
font-family: 'Nunito', sans-serif;
font-family: 'Alegreya', serif;
*/
