body {
  background-image: url('../images/brick_background.jpg');
  opacity: 90;
}

#brick_background {
  position: absolute;
  background-color: #14100E;
  height: 5000px;
  width: 100%;
  opacity: .95;
}

#headshot {
  position: absolute;
  margin: 10px 0 0 30px;
  height: 220px;
  border-radius: 400px;
  z-index: 99;
  opacity: 1;
}

#name_title {
  position: absolute;
  margin: 55px 0 0 270px;
  transform: rotate(-2deg);
  z-index: 100;
  font-size: 6rem;
}

#projects_background {
  height: 200px;
  margin: 20px 0 0 0;
  clip-path: polygon(0 15%, 100% 0, 100% 65%, 0 100%);
  background-color: #32748E;
}

/*color palette:
blue: #32748E
white: #FFFFFF
gray1: #869193
gray2: #454449
gray3: #2B2B2A
black: #14100E*/
