body {
  background-image: url('../images/brick_background.jpg');
  opacity: 90;
}

#brick_background {
  position: absolute;
  background-color: #14100E;
  height: 5000px;
  width: 100%;
  opacity: .95;
}

#headshot {
  position: absolute;
  margin: 30px 0 0 30px;
  height: 4.20%;
  border-radius: 100%;
  z-index: 99;
  opacity: 1;
}

#name_title {
  position: absolute;
  z-index: 100;
}

#projects_background {
  display: flex;
  height: 200px;
  max-width: 1400px;
  margin: 20px 0 0 0;
  clip-path: polygon(0 15%, 100% 0, 100% 65%, 0 100%);
  background-color: #32748E;
}

@media (min-width: 300px) and (max-width: 767px){
  #headshot {
    margin: 26px 0 0 20px;
    height: 2.1%;
  }

  #name_title {
    transform: rotate(-4deg);
    font-size: 2rem;
    margin: 50px 0 0 150px;
  }

  #projects_background {
    height: 100px;
  }

@media (min-width: 768px) and (max-width: 991px) {
  #headshot {
    margin: 26px 0 0 20px;
    height: 2.1%;
  }

  #name_title {
    transform: rotate(-1deg);
    font-size: 3.5rem;
    margin: 50px 0 0 150px;
  }

  #projects_background {
    height: 100px;
  }

@media (min-width: 992px) and (max-width: 1199px) {
  #name_title {
    transform: rotate(-2.75deg);
    font-size: 5rem;
    margin: 60px 0 0 260px;
  }
}

@media (min-width: 1200px) {
  #name_title {
    transform: rotate(-2.75deg);
    font-size: 6rem;
    margin: 55px 0 0 270px;
  }

  /*#projects_background {
    margin-left: 15%;
  }*/
}

/*color palette:
blue: #32748E
white: #FFFFFF
gray1: #869193
gray2: #454449
gray3: #2B2B2A
black: #14100E*/
